# Question:1

In [9]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
	return a + 2

In [10]:
b()

In [11]:
b()

In [12]:
b()

In [13]:
a

6

# a = 6 just because a is used as global variable so only first time 
# it is having 0 value and then increment by 2 
# each of the time due to global access same a object is used

# Question:2

In [38]:
def fileLength(fileName):
	try:
		num_lines = sum(1 for line in open(fileName))
		print(num_lines)
	except Exception:
		print('File {0} not found.'.format(fileName))

In [40]:
fileLength('bloodtype.txt')
fileLength('btype.txt')

1
File btype.txt not found.

#Question:3

In [16]:
class Marsupial():

	data = list()

	def put_in_pouch(self, value):
		self.data.append(value)

	def pouch_contents(self):
		print(self.data)

In [17]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
class Kangaroo(Marsupial):

	def __init__(self, x, y):
		self.x = x
		self.y = y

	def jump(self, dx, dy):
		self.x += dx
		self.y += dy

	def __str__(self):
		return('I am a Kangaroo located at coordinates ({0},{1})'.format(self.x, self.y))

In [19]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

#Question:4

In [91]:
class Mortgage(Frame):
    
    def __init__(self, master):
        Frame.__init__(self, master)
        labelLoanAmount =Label(self,
                                    relief = GROOVE,
                                    padx=10,
                                     pady=10,
                                    width=5,
                                    text= 'Loan Amount:')
        labelLoanAmount.grid(row=1, column=0, columnspan=4, sticky=W+E)

        entryLoanAmount= Entry(self)
        entryLoanAmount.grid(row=1, column=4, columnspan=4, sticky=W+E)


        labelInterestRate =Label(self,
                            relief = GROOVE,
                            padx=15,
                            text= 'Interest Rate:')
        labelInterestRate.grid(row=2, column=0, columnspan=4, sticky=W+E)

        entryInterestRate= Entry(self)
        entryInterestRate.grid(row=2, column=4, columnspan=4, sticky=W+E)


        labelLoanTerms =Label(self,
                            relief =GROOVE,
                            padx=15,
                            text= 'Loan Terms:')
        labelLoanTerms.grid(row=3, column=0, columnspan=4, sticky=W+E)

        entryLoanTerms= Entry(self)
        entryLoanTerms.grid(row=3, column=4, columnspan=4, sticky=W+E)


        buttonComputeMortage =Button(self,
                            relief = GROOVE,
                            padx=15,
                            text= 'Compute Mortgage')
        buttonComputeMortage.grid(row=4, column=0, columnspan=4, sticky=W+E)
        entryComputeMortage= Entry(self)
        entryComputeMortage.grid(row=4, column=4, columnspan=4, sticky=W+E)

In [92]:
class Calculator(Frame):
    
    def __init__(self, master):
        Frame.__init__(self, master)
        
       
        entryLoanAmount= Entry(self)
        entryLoanAmount.grid(row=0, column=0, columnspan=4,pady =10, sticky=W+E)
        
        num = [['MC',  'M+', 'M-', 'MR'],
           ['C', '\u221A','x\u00b2','+'],
           ['7','8','9','-'],
           ['4', '5','6','*'],
           ['1','2', '3', '/'],
           ['0', '.', '+-', '=']
          ]
        for i in range(6):
            for j in range(4):
                button= Button(self,
                            relief =GROOVE,
                            padx=10,
                             pady=10,
                            width=10,
                            text= num[i][j])
                button.grid(row=i+1, column=j)

In [93]:
from tkinter import *
root = Tk()

mortgage = Mortgage(root)
mortgage.pack(side=LEFT)

calculator = Calculator(root)
calculator.pack(side=RIGHT)


root.mainloop()

#Question:5

In [41]:
def collatz(number):
   try:
       num = abs(int(number))
           
       if num == 1:
        
           print(num)
           
      
       elif num%2 == 0:
           print(num)
           num = int(num / 2)
           collatz(num)
        #x/2 if the num is even

       
       else:
           print(num)
           num = int((3 * num) + 1)
           collatz(num)
        #3x+1 if the num is odd
    
   except ValueError:
       
       print("Please enter a positive  integer nUmber for the collatz sequence")

In [43]:
collatz(10)

10
5
16
8
4
2
1

#Question:6

In [ ]:
def binary(x):
	val = '{0:08b}'.format(x)
	print(int(val))

In [27]:
binary(3)

11

#Question:7

In [78]:
from html.parser import HTMLParser
class HTMLParser(HTMLParser):
    info = False
    def __init__(self):
        HTMLParser.__init__(self)
        self.doc = False
        self.dataName=''

    def start_tag(self, tag, attributes):
        if tag == 'h1' or tag=='h2' or tag=='h3' or tag=='h4' or tag=='h5' or tag=='h6':
            self.doc = True
            self.dataName = tag
    def end_tag(self, tag):
        self.doc= False

    def datahandler(self, data):
        if self.doc:
            if self.recordName == 'h1':
                print (data)
            elif self.recordName == 'h2':
                print('\t{}'.format(data))
            elif self.recordName == 'h3':
                print('\t\t{}'.format(data))
            elif self.recordName == 'h4':
                print('\t\t\t{}'.format(data))
            elif self.recordName == 'h5':
                print('\t\t\t\t{}'.format(data))
            elif self.recordName == 'h6':
                print('\t\t\t\t\t{}'.format(data))

In [ ]:
path ='C:\\Users\\15146\\Desktop\\Georgian\\1004Data Programming\\w3c.html'
toc = ''
try:
#   opening a file in read mode 
    infile = open(path, 'r')
    toc = infile.read()   
    infile.close()
except FileNotFoundError:
    print('File '+ fileName+  ' not found.')

parser = HTMLParser()
parser.feed(toc)

#Question:8

In [72]:
from html.parser import *
from urllib.request import *



def inputs(url, depth, indent):
    toc = urlopen(url).read().decode()
    collection = Collection(url,depth)
    collection.feed(toc)
    urls=collection.getLinks()

    print("{}{}".format(indent * ' ', url))
    for link in urls:
        if depth > 0:
            webdir(link, depth - 1, indent + + 4)
    
    return urls

In [73]:
from html.parser import HTMLParser
from urllib.parse import urljoin

class Collection(HTMLParser):
    
    def __init__(self, url,depth):
        HTMLParser.__init__(self)
        self.url = url
        self.depth = depth
        self.links=[]
        self.count = 0


    def start_tag(self, tag, attribute):
        if tag == 'a':
            for attribute in attributes:
                if attribute[0] == 'href':
                    absolute =  urljoin(self.url, attribute[1])
                    if(absolute[:4] == 'http'):
                        if (self.depth > self.count):
                            self.links.append(absolute)
                            self.count = self.count + 1
           
    
    def getLinks(self):
        return self.links

In [74]:

strike = set()
def webdir(url, depth, indent):
    
    global strike
    strike.add(url)
    
    websites =  inputs(url,depth, indent)
    
    for website in websites:
        if website not in strike:
            try:
                crawl1(website,depth,indent)
            except:
                pass

In [75]:
webdir('https://www.w3schools.com/', 2, 0)
webdir("https://www.w3schools.com/bootstrap/bootstrap_ver.asp",3,1)

https://www.w3schools.com/
 https://www.w3schools.com/bootstrap/bootstrap_ver.asp

#QUESTION-9

In [47]:
get_ipython().run_cell_magic('!', '', 'pip install --trusted-host pypi.org ipython-sql')

['Requirement already satisfied: ipython-sql in c:\\users\\15146\\anaconda3\\lib\\site-packages (0.4.0)',
 'Requirement already satisfied: six in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (1.14.0)',
 'Requirement already satisfied: prettytable<1 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlparse in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (0.3.1)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (7.12.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython-sql) (1.3.13)',
 'Requirement already satisfied: backcall in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.3)',
 'Requirement already satisfied: jedi>=0.10 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.14.1)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (45.2.0.post20200210)',
 'Requirement already satisfied: colorama; sys_platform == "win32" in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)',
 'Requirement already satisfied: pygments in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)',
 'Requirement already satisfied: decorator in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)',
 'Requirement already satisfied: wcwidth in c:\\users\\15146\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)',
 'Requirement already satisfied: parso>=0.5.0 in c:\\users\\15146\\anaconda3\\lib\\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)']

In [48]:
get_ipython().run_line_magic('load_ext', 'sql')

In [50]:
get_ipython().run_line_magic('sql', 'sqlite://')

In [51]:
get_ipython().run_cell_magic('sql', '', "CREATE TABLE WEATHER(City varchar(50),Country varchar(50), Season VARCHAR(50), Temperature float, Rainfall float);\nINSERT INTO WEATHER VALUES('Mumbai','India', 'Winter', 24.8, 5.9);\nINSERT INTO WEATHER VALUES('Mumbai','India', 'Spring', 28.4, 16.2);\nINSERT INTO WEATHER VALUES('Mumbai','India', 'Summer', 27.9, 1549.4);\nINSERT INTO WEATHER VALUES('Mumbai','India', 'Fall', 27.6, 346.0);\nINSERT INTO WEATHER VALUES('London','United Kingdom', 'Winter', 4.2, 207.7);\nINSERT INTO WEATHER VALUES('London','United Kingdom', 'Spring', 8.3, 169.6);\nINSERT INTO WEATHER VALUES('London','United Kingdom', 'Summer', 15.7, 157.0);\nINSERT INTO WEATHER VALUES('London','United Kingdom', 'Fall', 10.4, 218.5);\nINSERT INTO WEATHER VALUES('Cairo','Egypt', 'Winter', 13.6, 16.5);\nINSERT INTO WEATHER VALUES('Cairo','Egypt', 'Spring', 20.7, 6.5);\nINSERT INTO WEATHER VALUES('Cairo','Egypt', 'Summer', 27.7, 0.1);\nINSERT INTO WEATHER VALUES('Cairo','Egypt', 'Fall', 22.2, 4.5);")

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

a) All the temperature data

In [53]:
get_ipython().run_cell_magic('sql', '', 'SELECT Temperature from WEATHER;')

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

b) All the cities, but without repetition.

In [62]:
get_ipython().run_cell_magic('sql', '', 'SELECT DISTINCT City from WEATHER;')

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [63]:
get_ipython().run_cell_magic('sql', '', "SELECT  * from WEATHER WHERE Country='India';")

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [64]:
get_ipython().run_cell_magic('sql', '', "SELECT  * from WEATHER WHERE Season='Fall';")

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [66]:
get_ipython().run_cell_magic('sql', '', "SELECT  City, Country, Season\nfrom WEATHER \nWHERE  Rainfall > 400 AND Rainfall < 200;\nWHERE Rainfall >= '200' \nAND rainfall <= '400';\n")

 * sqlite://
Done.
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE Rainfall >= '200'
AND rainfall <= '400';]
(Background on this error at: http://sqlalche.me/e/e3q8)

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [67]:
get_ipython().run_cell_magic('sql', '', "\nSELECT  City, Country\nfrom WEATHER\nWHERE Temperature >= '20'\nORDER by Temperature ASC;")

 * sqlite://
Done.

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [68]:
get_ipython().run_cell_magic('sql', '', "SELECT SUM(Rainfall)\nFROM WEATHER\nWHERE City='Cairo';")

 * sqlite://
Done.

[(27.6,)]

h) The total rainfall for each season.

In [69]:
get_ipython().run_cell_magic('sql', '', '\n\nSELECT Season, SUM(Rainfall)\nFROM WEATHER\nGROUP BY Season;')

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#Question:10

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_list = [w.upper() for w in words]
print("a)",upper_list)
lower_list = [w.lower() for w in words]
print("b)",lower_list)
length_list = [len(w) for w in words]
print("c)",length_list)
mix_list = [[w.upper(), w.lower(), len(w)] for w in words]
print("d)",mix_list)
conditional_list = [w for w in words if len(w)>=4]
print("e)",conditional_list)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']